doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action=`/file/${file.id}` method="post")
            div(class='b')
                label(for="password") Passowrd : 
                input(type="password" name='password' id='password')
                if(locals.errors != null && locals.errors != '')
                    h3 #{locals.errors}
            button(type="submit") Download
